@font-face {

  font-family: "Robotor",sans-serif; 

  src: url("Roboto-VariableFont_wdth,wght.ttf") ; 
  font-style: normal; 
  font-weight: normal; 
}
@font-face {

  font-family: "Caveat", cursive; 

  src: url("Caveat-Bold.ttf") ; 
  font-style: normal; 
  font-weight: normal; 
}
p{
color:white;
text-align:right;
}
body{
background-image: url('patt2.svg');
font-size:1.5rem;
line-height:2rem;

}
h1{
  text-align:right;
  color:red;
 font-family: "Roboto",sans-serif;

}
h2{
  text-align:right;
  color:red;
  font-family: "Roboto",sans-serif;
    }
 em{
  color:green;
 }
.wrapper{
      max-width:960px;
  margin-left:auto;
  margin-right:auto;
  padding-left:10px;
  padding-right:10px;
 }
strong{
  font-family:"Caveat", cursive;
 
}
article{
 
  margin: 5% auto;
  padding: 55px 40px;
}
