@import "reset.css"

@font-face {

  font-family: "Robotor",sans-serif; 

  src: url("Roboto-VariableFont_wdth,wght.ttf") ; 
  font-style: normal; 
  font-weight: normal; 
}
@font-face {

  font-family: "Caveat", cursive; 

  src: url("Caveat-Bold.ttf") ; 
  font-style: normal; 
  font-weight: normal; 
}
p{
color:white;
text-align:right;
}
body{
background-image: url('pattern.svg');
font-size:1.5rem;
line-height:2rem;

}
h1{
  text-align:right;
  color:#BAFF39;
 font-family: "Roboto",sans-serif;

}
h2{
  text-align:right;
  color:#BAFF39;
  font-family: "Roboto",sans-serif;
    }
 em{
  color:#BAFF39;
 }
.wrapper{
      max-width:960px;
  margin-left:auto;
  margin-right:auto;
  padding-left:10px;
  padding-right:10px;
 }
strong{
  font-family:"Caveat", cursive;
 
}
article{
  border: 5px solid #BAFF39;
  border-radius: 16px;
  margin: 5% auto;
  padding: 55px 40px;
}
